{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Quickly & easily turn an image into text that you can copy/paste anywhere.">

    <title>QuickOCR: Does what it says on the tin</title>

    <link rel="stylesheet" href="{% static 'contrib/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'contrib/font-awesome/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'quickocr/css/general.css' %}" />

    {% block css %}{% endblock css %}

    {% block js_header %}{% endblock js_header %}

  </head>
  <body>

    <header>
      <div class="page-header">
        <h1><a href="{% url 'index' %}">QuickOCR</a></h1>
        <h5 class="text-muted">Does what it says on the tin</h5>
      </div>
    </header>

    <section class="content">
      {% block content %}{% endblock content %}
    </section>

    <script src="{% static 'contrib/jquery.min.js' %}"></script>
    <script src="{% static 'contrib/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>

		<script>

			(function($) {

			  var $spinner = $("section.form .spinner");
			  var $form_body = $("section.form .form-body");
			  var $progress = $(".progress-bar");

        function do_the_progress() {
          var now = parseFloat($progress.attr("aria-valuenow"));
          var set_to = now + ((100 - now) * 0.002);
          $progress
            .attr("aria-valuenow", set_to)
            .attr("style", "width: " + set_to + "%");
          setTimeout(do_the_progress, 100);
        }

			  $spinner.hide();

        $("form").submit(function(){

          do_the_progress();

          // This could be sexier if only I could figure out .collapse()
          $form_body.hide();
          $spinner.show();

        });

        {% block js_ready %}{% endblock js_ready %}

			})(jQuery);

      {% block js_footer %}{% endblock js_footer %}

		</script>

  </body>
</html>
