{% extends 'base.html' %}


{% block content %}

  {% if ocr_output %}
    <section class="col-md-6 alert-success" style="padding: 3rem;">
      {% if ocr_language != 'eng' %}
        <a href="https://translate.google.com/#auto/en/{{ ocr_output|urlencode }}">Translate this into English</a><br /><br />
      {% endif %}
      <div id="ocr-output">
        {{ ocr_output|linebreaks }}
      </div>
    </section>
  {% endif %}

  <section class="form col-md-6{% if not ocr_output %} col-md-offset-3{% endif %}">

    <section class="spinner">
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0;"></div>
      </div>
    </section>

    <section class="form-body">
      {% if form.errors %}
        {{ form.non_field_errors }}
      {% endif %}
      <form enctype="multipart/form-data" method="post">
        <div class="form-group {{ form.file.errors|yesno:'error,' }}">
          {{ form.file.errors }}
          {{ form.file.label_tag }}
          {{ form.file }}
          {% if form.file.help_text %}<div class="help-text">{{ form.file.help_text }}</div>{% endif %}
        </div>
        <div class="form-group {{ form.language.errors|yesno:'error,' }}">
          {{ form.language.errors }}
          {{ form.language.label_tag }}
          {{ form.language }}
          {% if form.language.help_text %}<div class="help-text">{{ form.language.help_text }}</div>{% endif %}
        </div>
        {% csrf_token %}
        <input type="submit" class="btn btn-block btn-primary" value="Do the thing" />
      </form>
    </section>

    <section class="form-footer">
      <div class="row text-center">

        <a
          role="button"
          data-toggle="collapse"
          href="#about"
          aria-expanded="false"
          aria-controls="about"
        >
          I don't understand. What is this?
        </a>

        <div class="collapse about" id="about">
          <div class="well">
            <p>
              "OCR" is short for <em>"optical character recognition"</em> which
              is a fancy way of saying that you're turning an image into text
              that you can copy/paste and edit in a document.  This tool makes
              it easy to do a quick conversion of an image into text.  All you
              have to do is submit the file to this form and be sure to specify
              the language it's in and after a minute or two, you should get
              some text back.
            </p>
            <p>
              This project is Free software, licensed under the Affero GPL
              version 3, and the code can be found on <a href="https://github.com/danielquinn/quickocr">Github <i class="fa fa-github"></i></a>
            </p>
          </div>
        </div>

      </div>
    </section>

  </section>

{% endblock content %}
