header {
  margin: 0 auto 5em;
  text-align: center;
  max-width: 60em;
}
.content {
  max-width: 100em;
  margin: 0 auto;
  padding: 0 3em;
}
label {
  display: block
}
input[type='file'],select {
  display: block;
  width: 100%;
}
.form-footer {
  margin-top: 2em;
}
.ocr-output {
  padding: 1em;
  font-family: monospace;
}
.about {
  margin: 1em;
}
